body {
  background-color: #FFF0F7;
  font-family: Monospace;
  text-align: center;
}

p {
  font-size: 16px;
}

.main-photo {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 900px;
  height: auto;
} 
